<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSBuild</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
<!--    <SiteUrlToLaunchAfterPublish>http://hello-azure-brett.azurewebsites.net</SiteUrlToLaunchAfterPublish>-->
<!--    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>-->
    <ExcludeApp_Data>False</ExcludeApp_Data>
<!--    <MSDeployServiceURL>hello-azure-brett.scm.azurewebsites.net:443</MSDeployServiceURL>-->
<!--    <DeployIisAppPath>hello-azure-brett</DeployIisAppPath>-->
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$hello-azure-brett</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="helloDotNetAPIContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="helloDotNetAPI.Models.helloDotNetAPIContext, helloDotNetAPI" MigrationConfiguration="helloDotNetAPI.Migrations.Configuration, helloDotNetAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)helloDotNetAPIContext-Web.config Connection String" />
  </ItemGroup>
</Project>